li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.not-see {
  display: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  margin-right: 93px;
}

.logo__part {
  color: #212121;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 305px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
}

.navigation__link:hover {
  color: #2196f3;
}

.navigation__link:hover::after {
  opacity: 1;
}

.navigation__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border: 2px solid;
  color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  bottom: 0;
  left: 0;
}

.contacts {
  display: flex;
}

.contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #757575;
  fill: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people-work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
  }
}

.hero__title {
  font-weight: bold;
  font-size: 26px;
  line-height: calc(42 / 26);
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: calc(30 / 16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  margin: auto;
  display: block;
  justify-content: center;
}

.advantages {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .advantages {
    width: 480px;
  }
}

@media screen and (min-width: 728px) {
  .advantages {
    width: 728px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc(100% / 4 - 30px);
  }
}

.advantages__icon {
  width: 100%;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.advantages__icon:last-child {
  margin-right: 0;
}

.advantages__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  width: 100%;
}

.whatwedo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .whatwedo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    width: 1200px;
  }
}

.whatwedo__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-work {
  display: flex;
}

.our-work__item {
  margin-right: 30px;
  position: relative;
}

.our-work__item:last-child {
  margin-right: 0;
}

.our-work__box-for-title {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.our-work__title {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 25px;
  padding-bottom: 25px;
}

.our-team {
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 94px;
}

.our-team__title {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.our-team__list {
  /*display: flex;*/
}

@media screen and (min-width: 480px) {
  .our-team__list {
    width: 480px;
  }
}

@media screen and (min-width: 728px) {
  .our-team__list {
    width: 728px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.our-team__item {
  margin-bottom: 30px;
  margin-right: 30px;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  /*&:last-child {
    margin-right: 0;
  }*/
}

@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc(100% / 4 - 30px);
  }
}

.our-team__img {
  width: 100%;
  margin-bottom: 30px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.our-team__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
}

.social-net {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-net__item {
  margin-right: 10px;
}

.social-net__item:last-child {
  margin-right: 0;
}

.social-net__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__link:hover {
  background-color: #2196f3;
}

.social-net__link:hover .social-net__icon {
  fill: #ffffff;
}

.social-net__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .customers {
    width: 480px;
  }
}

@media screen and (min-width: 728px) {
  .customers {
    width: 728px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    width: 1200px;
  }
}

.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.customers__item {
  margin-right: 30px;
}

.customers__item:last-child {
  margin-right: 0;
}

.customers__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition-property: fill, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.customers__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.footer-box {
  display: flex;
}

.footer-box__left {
  margin-right: 70px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-box__center {
  margin-right: 93px;
  margin-top: 72px;
  margin-bottom: 100px;
}

.footer-box__right {
  margin-top: 72px;
  margin-bottom: 94px;
}

.logo__part--color {
  color: #fff;
}

.contact {
  font-style: normal;
}

.contact__item {
  margin-bottom: 9px;
}

.contact__item:nth-child(1) {
  margin-top: 20px;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #757575;
}

.contact__link--appearance {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-net__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-net__link--appearance {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__icon--appearance {
  fill: #fff;
}

.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.btn {
  text-align: start;
  padding-left: 29px;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.btn__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop--ishidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.modal-close__btn:hover .modal-close__icon {
  fill: #2196f3;
}

.modal-form {
  width: 100%;
  display: inline-grid;
  justify-content: center;
  padding: 40px;
}

.modal-form div {
  justify-self: center;
}

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field > label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form__input:hover, .modal-form__input:focus {
  cursor: pointer;
  outline: 1px solid #2196f3;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 54%;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__coments {
  width: 100%;
  margin-bottom: 25px;
}

.modal-form__coments textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form__coments > label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__coments textarea:focus,
.modal-form__coments textarea:hover {
  cursor: pointer;
  outline: 1px solid #2196f3;
}

.modal-checkbox {
  justify-self: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-checkbox__label {
  display: flex;
  align-items: center;
}

.modal-checkbox__label a {
  margin-left: 5px;
  color: #2196f3;
  text-decoration: underline;
}

.modal-checkbox__input {
  visibility: hidden;
  position: absolute;
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  background-size: contain;
  background-image: url("../images/social/icon-check.svg");
  width: 16px;
  height: 15px;
  background-origin: border-box;
  border: none;
}

.modal-checkbox__icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  border-radius: 4px;
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  border: none;
  border-radius: 4px;
}

.line {
  border-top: 1px solid #ececec;
}

.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.work-list__item {
  margin-right: 8px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-list__btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #212121;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__btn:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  cursor: pointer;
  background: #ffffff;
  outline: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.product__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.product__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__board {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.product__info {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__item:hover .product__info {
  transform: translate(0%);
}

.product__title {
  margin-bottom: 4px;
  width: 322px;
  margin-right: 24px;
  margin-left: 24px;
}

.product__type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */