.customers {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 728px) {
    width: 728px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  margin-bottom: 94px;
}
.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.customers__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.customers__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.customers__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;

  transition-property: fill, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $hoverColor;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.customers__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover & {
    fill: $hoverColor;
  }
}
